*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Parent element  */

.sectionTag{

    display: flex;

    /* give flex block display a direction by default it is row  */

    flex-direction: row;
}

.articleOne{

    background-color: red;
    margin-top: 10px;
    border: 10px solid;
    border-color: black;
   
    
    


}

.articleTwo{

    background-color: yellow;
    margin-top: 10px;
    border: 10px solid;
    border-color: black;
}

.articleThree{

    background-color: green;
    margin-top: 10px;
    border: 10px solid;
    border-color: black;

    /* wrap will wrap all the content of the box inside, use it when we use width and heght forn the box */
    flex-flow: wrap;
    width: 300px;
    height: 700px;
}

