.block {

    background-color: brown;
    width: 1000px;
    height: 200px;
    /* transition: 0.3s; */
}

.block:hover{

        width: 5000px;
        height: 1000px;
        transition: 0.3s;
        transition-delay: 2s;
        transition-timing-function: linear;

}