.container {

    width: 100vw;
    height: 1000px;
    background-color: brown;
    border: 1px solid black;
    /* position: relative; */

}

.box {

    width: 200px;
    height: 300px;
    background-color: aqua;
    border: 1px solid red;
    position: relative;
}

#box-1 {

    position: relative;
    left: 50px;
}

#box-2 {

    position: absolute;
    top: 400px;
}

#box-3 {

    position: relative;
    top: 300px;
}